body
  +reg

img 
  max-width: 100%
  
.container
  // margin-top: 7px
  max-width: 1170px
  margin: auto

@media (max-width: 1200px)
  .container
    max-width: 760px
    // width: 95%

@media (max-width: 768px)
  .container
    // margin-top: 17px
    max-width: 750px
    width: 90%
  .navbar-block
    padding: 15px 3px


.button
  padding: 18px 30px
  border: none
  border-radius: 10px
  background-color: $main-color